:root {
  --main-accent: #0EC261;
  --gray-dark: #999999;
  --gray-light: #EEEEEE;
  --system-black: #000;
  --system-white: #fff;

  --gradient: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  --gradient-hover: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
  --gradient-active: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%);
  --gradient-focus: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
}