.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main-accent);
  margin: 0;
}
.cityBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 7.5px;
}
.cityText {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-dark);
}
.placemarkIcon {
  color: var(--gray-dark);
}

@media (max-width: 530px) {
  .header {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    padding: 16px;
  }
}