.orderPage {
  max-width: 2000px;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 64px 1fr;
}

@media (max-width: 900px) {
  .orderPage {
    grid-template-columns: 86px 1fr;
  }
}
@media (max-width: 530px) {
  .orderPage {
    grid-template-columns: 1fr;
  }
}