.asideBlock {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 64px 1fr;
  background-color: var(--background-dark);

  z-index: 3;
  transition: .2s linear;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(21, 27, 31, .81);
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s linear;
  }
}
.aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.asideBlockOpened {
  width: calc(50vw + 32px);

  &::before {
    visibility: visible;
    opacity: 1;
  }
}

.menuBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s linear;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 112px;
}
.menuBlockOpened {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s ease-in;
  width: 100%;
}
.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.menuItem {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
.menuItemLink {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--system-white);
  text-transform: uppercase;
  transition: .2s linear;

  &:hover, &:active {
    color: var(--main-accent);
  }
  &:focus {
    outline: none;
  }
}

.iconsBlock {
  display: flex;
  gap: 24px;
  z-index: 1;
  margin-top: 38px;
}
.iconLink {
  text-transform: none;
  color: var(--system-white);
  cursor: pointer;
  transition: .2s linear;

  &:hover, &:active {
    color: var(--main-accent);
  }
  &:focus {
    outline: none;
  }
}

.burgerButton {
  color: var(--system-white);
  cursor: pointer;
  transition: .2s linear;

  &:hover, &:active {
    color: var(--main-accent);
  }
  &:focus {
    outline: none;
  }
}
.burgerIcon {
  font-size: 32px;
}
.crossIcon {
  font-size: 32px;
  transform: rotate(45deg);
}
.lang {
  font-size: 13px;
  font-weight: 700;
  color: var(--main-accent);
  text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  position: relative;
  margin: 0;
  cursor: pointer;
  transition: .2s linear;

  &::before {
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    left: -14px;
    top: -14px;
    border: 1px solid var(--system-white);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
  }

  &:hover {
    color: var(--system-white);

    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
  &:active {
    color: var(--main-accent);
  }
}


@media (min-width: 2000px) {
  .asideBlockOpened {
    width: 1032px;
  }
}
@media (max-width: 1024px) {
  .asideBlockOpened {
    width: calc(57vw + 32px);
  }
}
@media (max-width: 900px) {
  .asideBlock {
    grid-template-columns: 86px auto;
  }
  .asideBlockOpened {
    width: 100vw;
  }
  .menuItemLink {
    font-size: 28px;
  }
}
@media (max-width: 530px) {
  .asideBlock {
    height: 0;
    float: left;
    padding: 0;
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: none;
  }
  .aside {
    padding: 16px 0 0 20px;
    height: auto;
  }
  .mainBlock {
    float: right;
  }
  .asideBlockOpened {
    width: 100%;
    height: 100%;
    background-color: var(--background-dark);
    position: absolute;
    transition: height .1s linear;

    & .menuBlock {
      transition: opacity .2s linear;
    }
  }
  .menuBlock {
    padding-left: 28px;
    padding-top: 28px;
    transition: none;
  }
  .menuItem {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .menuItemLink {
    font-size: 22px;
  }

  .burgerIcon {
    color: var(--system-black);
  }

  .lang {
    padding-left: 28px;
    padding-bottom: 28px;
    margin-top: auto;
    transition: none;

    &::before {
      content: none;
    }
  }
}
